@import "globals.scss";

%CloudcastHome {
  flex: 1 0 200px;
  margin: 0 10px 20px;

  @media #{$medium-and-up} {
    flex-basis: 235px;
    margin: 0 12px 20px;
  }

  @media #{$large-and-up} {
    flex-basis: 270px;
    margin: 0 20px 20px;
  }
}

.CloudcastHome {
  @extend %CloudcastHome;
}

.CloudcastHomePlacebo {
  @extend %CloudcastHome;

  margin-bottom: 0;
}

.CloudcastHomePlaceholder {
  width: 100%;
}

.CloudcastHomeImg {
  background-color: $color-grey;
  margin-bottom: 15px;
  padding-top: 100%;
  width: 100%;
}

.CloudcastHomeText {
  color: $color-quiet-black;
  text-transform: lowercase;
}

.CloudcastHomeTextPlaceholder {
  background-color: $color-grey;
  height: 18px;
  width: 95%;
}
