@import "globals.scss";

.Footer {
  background-color: $color-quiet-black;
  color: $color-pale-pink;
  font-size: small;
  height: 114px;
  width: 100%;
}

.FooterInner {
  @include default-wrapper-width();
  padding-top: 20px;
}

.FooterInfo {
  align-items: center;
  display: flex;
  font-size: x-small;
  justify-content: space-between;
  margin-top: 20px;

  a {
    color: $color-pale-pink;
    text-decoration: underline;
  }
}
