@import "globals.scss";

.Footer {
  background-color: $color-quiet-black;
  color: $color-white;
  font-size: small;
  height: 114px;
  width: 100%;

  a {
    color: $color-white;
  }
}

.FooterInner {
  @include default-wrapper-width();
  padding-top: 20px;
}

.FooterSocial {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.FooterCopyrights {
  float: right;
  margin-top: 20px;
  font-size: x-small;
}
