@import "globals.scss";

.Footer {
  background-color: $color-quiet-black;
  color: $color-pale-pink;
  padding: 20px 0;
  width: 100%;
}

.FooterInner {
  @include default-wrapper-width();
}

.FooterInfo {
  align-items: center;
  display: flex;
  font-size: x-small;
  justify-content: space-between;
  margin-top: 20px;

  a {
    color: $color-pale-pink;
  }
}
