@import "globals.scss";

.FacebookIcon {
  @include transitions(transform)
  fill: $color-pale-pink;
  height: 30px;
  width: 30px;

  &:hover {
    transform: rotate(20deg);
  }
}

.FacebookIconReverse {
  fill: $color-quiet-black;
}

.FacebookIconResponsive {
  @media #{$medium-and-up} {
    height: 30px;
    width: 30px;
  }

  @media #{$large-and-up} {
    height: 40px;
    width: 40px;
  }
}
