@import "globals.scss";

.App {
  background: url(images/background_small.jpg) no-repeat center center fixed;
  background-color: $color-pale-pink;
  background-size: cover;
  height: auto;
  min-height: 150%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  @media #{$medium-and-up} {
    background: url(images/background.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
