$base-font-family: "PT Mono", "Open Sans";

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 1051px !default;
// $large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 1050px !default;
// $large-screen: 1200px !default;

$small-screen-inner-width: 90%;
$medium-and-up-inner-width: 85%;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$color-quiet-black: #291515;
$color-pale-pink: #F6B9C1;
$color-quiet-black-transparent: rgba(41,21,21,0.8);

$height-header-small: 75px;
$height-header-big: 95px;

@mixin default-wrapper-width() {
  margin-left: auto;
  margin-right: auto;
  width: $small-screen-inner-width;

  @media #{$medium-and-up} {
      width: $medium-and-up-inner-width;
  }
}

@mixin slow-transitions($property, $timing-function: ease) {
    transition: $property 1s $timing-function;
}

@mixin transitions($property, $timing-function: ease) {
    transition: $property .3s $timing-function;
}

@mixin paragraphs() {
  margin-top: 20px;

  @media #{$medium-and-up} {
    margin-top: 25px;
  }

  @media #{$large-and-up} {
    margin-top: 30px;
  }
}
