@charset "utf-8";
@import "globals.scss";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure, select, input, textarea, button,
th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  color: $color-quiet-black;
  font-family: $base-font-family;
  font-size: small;

  @media #{$medium-and-up} {
    font-size: medium;
  }

  @media #{$large-and-up} {
    font-size: large;
  }
}

h2 {
    font-size: large;

    @media #{$medium-and-up} {
      font-size: x-large;
    }

    @media #{$large-and-up} {
      font-size: xx-large;
    }
}

h3 {
    font-size: medium;

    @media #{$medium-and-up} {
      font-size: large;
    }

    @media #{$large-and-up} {
      font-size: x-large;
    }
}

a {
  color: $color-quiet-black;
  &:hover {
    text-decoration: none;
  }
}

p {
  @include paragraphs();
  line-height: 1.5;
}

input[type="text"],
input[type="name"],
input[type="email"],
textarea {
  @include transitions(border);
  background-color: $color-pale-pink;
  border: 2px solid $color-quiet-black-transparent;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px 15px;

  &:focus {
    border-color: $color-quiet-black;
  }

  &::placeholder {
    color: $color-quiet-black-transparent;
  }
}

button {
  @include buttons();
}

section {
    @include sections();
}
