@import 'globals.scss';

.Image {
  background-color: $color-quiet-black-transparent;
  border-radius: 10%;
  color: $color-pale-pink;
  margin-top: 4%;
  max-height: 500px;
  max-width: 500px;
  padding-top: 100%;
  position: relative;
  width: 100%;

  @media #{$medium-and-up} {
    padding-top: 48%;
    width: 48%;
  }

  @media #{$large-and-up} {
    padding-top: 32%;
    width: 32%;
  }

  &:after {
    @include transitions(all);
    content: '';
    background: $color-quiet-black-transparent;
    border-radius: 10%;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
    z-index: 1;
  }

  &:hover .ImageInfo,
  &:focus .ImageInfo {
    opacity: 1;
    z-index: 2;
  }
}

.ImageInfo {
  @include transitions(all);
  left: 50%;
  position: absolute;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
